@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
	margin: 0;
	padding: 0;
	background-color: #ededed;
	color: #333;
	font-family: arial, sans-serif;
	font-size: 16px;
	background-image: url("../images/bg.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
}

h1 {
	font-family: 'Russo One', sans-serif;
	font-size: 70px;
	font-weight: bolder;
}

.container {
	width: 1024px;
}

.character, .enemy, .defender {
	display: inline-block;
	padding: 2px 10px;
	width: 140px;
	margin-right: 2px;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
}

#characters {
	height: 150px;
}
.character{
	border: 2px solid green;
	background-color: #fff;
}

.character p {
	margin: 0;
}
.enemy {
	background-color: red;
	border: 2px solid #000;
}

.defender {
	background-color: #000;
	border: 2px solid green;
	cursor: default;
	color: #fff;
}

.container img{
	width: 100%;
}

#fightingZone {
	padding-top:60px;
}


#msg{
	color: white;
	margin-top: 20px;
	background-color: rgba(0, 0, 0, .5);
    font-size: 14px;
    text-align: left;
}

#msg p {
	padding:10px;
}

#restart {
	display: none;
}

#attack {
	display: none;
}

h2 {
	color: #fff;
}